
*{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.titre1{
   
    width: 100%;
    height: 63px;
}

.titre{
    width: 160px;
    height: 25px;
    margin-left: 28%;
    margin-top: 25px;
}

.navbar{
  height: 50px;
  display: flex;
  background-color:#EAEAEA;
  padding-left: 33%;
  gap: 15px;
}

.champs-de-saisis {
    width: 100%;  
    height: 50px;
    font-size: 16px;  
    padding-top: 1px;
    background-color:#EAEAEA;
    border: solid 1px #EAEAEA;
}



.fa-location-dot{
    padding-top: 13px;
}

.reservation{
    display: flex;
    background-color: #F6F6F6;
    height: 260px;
    gap: 10px;
    flex-direction: column;
    text-align: center;
}

.reservation h3{
    padding-top: 30px;
    
}

.reservation p{
    color: rgb(142, 133, 133);
    } 

.bouton{
    width: 60%;
    height: 50px; 
    border-radius: 25px;
    background: linear-gradient(#FF79DA 30% , #9356DC 100% );
    margin-left: 20%;
    margin-top: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transition-duration: 0.6s;
}

.bouton:hover{
    opacity: 0.7;
}

.bouton p{
    color: white;
    font-size: 16px;
}

.fonction{
   display: flex;
   flex-direction: column;
   margin-top: 40px;
   margin-left: 20px;
   gap: 20px;
}

 .fonction h3{
    margin-left: -10px;
}

.choix{
    display: flex;
    padding-left: 35px;
    padding-top:25px ;
    gap: 20px;
    width: 95%;
    height: 72px;
    border-radius: 20px;
    background-color: #F6F6F6;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.choix .fa-solid{
    color: rgb(142, 133, 133);
}

 .numéro{
    position: absolute;
    background-color: #9356DC;
    width: 23px;
    height: 23px;
    border-radius: 25px;
    margin-left: -45px;
}

.numéro p{
    color: #F6F6F6;
    padding-left: 7px;
    padding-top: 5px;
    font-size: 8px;
}

.photos-restaurants{
height: 1150px;
background-color: #F6F6F6;
margin-top: 70px;
padding-top: 75px;

}

.titre-restaurant{
    padding-left: 30px;
    padding-bottom: 5px;
}

.cartes{
    width: 90%;
    height: 230px;
    position: relative;
    border-radius:15px;
    display: block;
    background-color: white;
    margin: auto;
    margin-top: 15px;
}
.a{
    position: relative;
}
.rectangle-vert{
    width: 25%;
    height: 29px;
    border-radius: 2px;
    background-color: #99E2D0;
    
    text-align: center;
    padding-top: 7px;
    position: absolute;
    margin-left: 230px;
    margin-top: 15px;
}
.rectangle-vert p{
    color:#008766 ;
    font-size:14px ;
    font-weight: 500px;
}
.photo{
    width: 100%;
    height: 160px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    object-position: bottom;
}

.titre2{
    padding-top: 10px;
    padding-left: 5%;
    color: black;
    position: relative;
}

.titre2 p{
    font-size: 15px;
    font-weight: 300;
   
}


 .fa-heart{
    padding-left: 80%;
    position: absolute;
    padding-top: 3px;
    font-size: 20px;
}

.footer-legal{
padding-top: 15px;
font-size: 15px;

}

.footer{
  
    height: 190px;
    background: rgba(53, 53, 53, 1);
    color: #FFFF;
}

.fa-utensils{
padding-top: 10px;

}

.fa-handshake-angle{
    padding-top: 10px;
}

.footer h4{
    color: white;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    padding-left: 25px;
    padding-top: 20px;
    font-family: 'Shrikhand';

}

.icone-propo{
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
    padding-left: 25px;
    padding-top: 5px;
}

.légale{
    padding-left: 25px;
    padding-top: 10px;
}

@media screen and (min-width: 768px) { 
/*************header************/
    .titre1{
   
        width: 100%;
        height: 63px;
        padding-left: 20%;
    }
    
    .titre{
        width: 160px;
        height: 25px;
        margin-left: 28%;
        margin-top: 25px;
    }
    
    .navbar{
      height: 50px;
      display: flex;
      background-color:#EAEAEA;
      padding-left: 44%;
      gap: 15px;
    }
    
    .champs-de-saisis {
        width: 100%;  
        height: 50px;
        font-size: 16px;  
        padding-top: 1px;
        background-color:#EAEAEA;
        border: solid 1px #EAEAEA;
    }
    
    
    
    .fa-location-dot{
        padding-top: 13px;
    }
    
    .reservation{
        display: flex;
        background-color: #F6F6F6;
        height: 260px;
        gap: 10px;
        flex-direction: column;
        text-align: center;
    }
    
    .reservation h3{
        padding-top: 30px;
        
    }
    
    .reservation p{
        color: rgb(142, 133, 133);
        } 
    
    .bouton{
        width: 60%;
        height: 50px; 
        border-radius: 25px;
        background: linear-gradient(#FF79DA 30% , #9356DC 100% );
        margin-left: 20%;
        margin-top: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }
    
    .bouton p{
        color: white;
        font-size: 16px;
    }
/*************header************/
/*************fonction**********/
.bouton p{
    color: white;
    font-size: 16px;
}
.fonction{
   display: flex;
   flex-direction: column;
   margin-top: 40px;
   margin-left: 20px;
   gap: 20px;
}



 .fonction h3{
    margin-left: -10px;
}

.choix{
    display: flex;
    padding-left: 35px;
    padding-top:25px ;
    gap: 20px;
    width: 95%;
    height: 72px;
    border-radius: 20px;
    background-color: #F6F6F6;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.choix .fa-solid{
    color: rgb(142, 133, 133);
}

 .numéro{
    position: absolute;
    background-color: #9356DC;
    width: 23px;
    height: 23px;
    border-radius: 25px;
    margin-left: -45px;
}

.numéro p{
    color: #F6F6F6;
    padding-left: 7px;
    padding-top: 5px;
    font-size: 8px;
}
/*************fonction**********/

/*************photo*************/
.photos-restaurants{
    height: 1150px;
    background-color: #F6F6F6;
    margin-top: 70px;
    padding-top: 75px;
    
    }
    
    .titre-restaurant{
        padding-left: 30px;
        padding-bottom: 5px;
    }
    
    .cartes{
        width: 90%;
        height: 230px;
        position: relative;
        border-radius:15px;
        display: block;
        background-color: white;
        margin: auto;
        margin-top: 15px;
    }
    .a{
        position: relative;
    }
    .rectangle-vert{
        width: 25%;
        height: 29px;
        border-radius: 2px;
        background-color: #99E2D0;
        
        text-align: center;
        padding-top: 7px;
        position: absolute;
        margin-left: 230px;
        margin-top: 15px;
    }
    .rectangle-vert p{
        color:#008766 ;
        font-size:14px ;
        font-weight: 500px;
    }
    .photo{
        width: 100%;
        height: 160px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
        object-position: bottom;
    }
    
    .titre2{
        padding-top: 10px;
        padding-left: 5%;
        color: black;
        position: relative;
    }
    
    .titre2 p{
        font-size: 15px;
        font-weight: 300;
       
    }
    
    
     .fa-heart{
        padding-left: 80%;
        position: absolute;
        padding-top: 3px;
        font-size: 20px;
    }
    
/*************photo*************/
/*************footer************/
.footer-legal{

    padding-top: 40px;
     font-size: 15px;
     display: flex;
     
     }
 
 .footer{
     position: relative;
     height: 110px;
     background: rgba(53, 53, 53, 1);
     color: #FFFF;
 }
 
 .fa-utensils{
 padding-top: 10px;
 
 }
 
 .fa-handshake-angle{
     padding-top: 10px;
 }
 
 .footer h4{
     width: 50px;
     color: white;
     font-style: italic;
     font-size: 18px;
     font-weight: 400;
     padding-left: 85%;
     padding-top: 40px;
     font-family: 'Shrikhand';
     position: absolute;
 
 }
 
 .icone-propo{
     display: flex;
     flex-direction: row;
     gap: 10px;
     text-align: center;
     padding-left: 25px;
     padding-top: 5px;
 }
 
 .légale{
     padding-left: 35px;
     padding-top: 5px;
 }
/*************footer************/
}

@media  screen and (min-width: 1024px) {

    /*************header************/
    .titre1{
        width: 100%;
        height: 95px;
        padding-left: 20%;
    }
    
    .titre{
        width: 160px;
        height: 25px;
        margin-left: 28%;
        margin-top: 25px;
    }
    
    .navbar{
      height: 50px;
      display: flex;
      background-color:#EAEAEA;
      gap: 15px;
    }
    
    .champs-de-saisis {
        width: 100%;  
        height: 50px;
        font-size: 16px;  
        padding-top: 1px;
        background-color:#EAEAEA;
        border: solid 1px #EAEAEA;
    }
    
    
    
    .fa-location-dot{
        padding-top: 13px;
    }
    
    .reservation{
        display: flex;
        background-color: #F6F6F6;
        height: 250px;
        gap: 10px;
        flex-direction: column;
        text-align: center;
    }
    
    .reservation h3{
        font-size: 40px;
        font-weight: 700;
        padding-top: 30px;
        
    }
    
    .reservation p{
        padding-top: 15px;
        color: rgb(142, 133, 133);
        } 
    
    .bouton{
        width: 218px;
        height: 50px; 
        border-radius: 25px;
        background: linear-gradient(#FF79DA 30% , #9356DC 100% );
        margin-left: 40%;
        margin-top: 30px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }
    
    .bouton p{
        color: white;
        font-size: 16px;
        margin-top: -20px;
    }
/*************header************/
/*************fonction**********/
.fonction{
    height: 115px;
    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 65px;
    margin-right: 30px;
    gap: 30px;
 }
 
 .titre-fonctionnement{
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    padding-left: 10px;

 }

  .fonction h3{
     margin-left: -10px;
     margin-top: -60px;
 }
 
 .choix{
     display: flex;
     padding-left: 35px;
     padding-top:25px ;
     gap: 20px;
     width: 95%;
     height: 72px;
     border-radius: 20px;
     background-color: #F6F6F6;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
 }
 
 .choix .fa-solid{
     color: rgb(142, 133, 133);
 }
 
  .numéro{
     position: absolute;
     background-color: #9356DC;
     width: 23px;
     height: 23px;
     border-radius: 25px;
     margin-left: -45px;
 }
 
 .numéro p{
     color: #F6F6F6;
     padding-left: 7px;
     padding-top: 5px;
     font-size: 8px;
 }
/*************fonction**********/
/*************photo*************/

.photos-restaurants{
    display: flex;
    flex-wrap: wrap;
    height: 1150px;
    background-color: #F6F6F6;
    margin-top: 70px;
    padding-top: 75px;
    
    }
    
    .titre-restaurant{
       margin-top: -50px;
    }
    
    .cartes{
        width:490px ;
        height: 251px;
        position: relative;
        border-radius:15px;
        display: block;
        background-color: white;
        margin: auto;
        margin-top: 15px;
    }

    .a{
        position: relative;
    }

    .rectangle-vert{
        width: 25%;
        height: 29px;
        border-radius: 2px;
        background-color: #99E2D0;
        
        text-align: center;
        padding-top: 7px;
        position: absolute;
        margin-left: 230px;
        margin-top: 15px;
    }

    .rectangle-vert p{
        color:#008766 ;
        font-size:14px ;
        font-weight: 500px;
    }

    .photo{
        width: 100%;
        height: 160px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
        object-position: bottom;
    }
    
    .titre2{
        padding-top: 10px;
        padding-left: 5%;
        color: black;
        position: relative;
    }
    
    .titre2 p{
        font-size: 15px;
        font-weight: 300;
       
    }
    
    
     .fa-heart{
        padding-left: 80%;
        position: absolute;
        padding-top: 3px;
        font-size: 20px;
    }
    
/*************photo*************/
/*************footer************/
.footer-legal{

    padding-top: 40px;
     font-size: 15px;
     display: flex;
     
     }
 
 .footer{
     position: relative;
     height: 110px;
     background: rgba(53, 53, 53, 1);
     color: #FFFF;
 }
 
 .fa-utensils{
 padding-top: 10px;
 
 }
 
 .fa-handshake-angle{
     padding-top: 10px;
 }
 
 .footer h4{
     width: 50px;
     color: white;
     font-style: italic;
     font-size: 18px;
     font-weight: 400;
     padding-left: 85%;
     padding-top: 40px;
     font-family: 'Shrikhand';
     position: absolute;
 
 }
 
 .icone-propo{
     display: flex;
     flex-direction: row;
     gap: 10px;
     text-align: center;
     padding-left: 25px;
     padding-top: 5px;
 }
 
 .légale{
     padding-left: 35px;
     padding-top: 5px;
 }
/*************footer************/








}